section.active .footer {
  transform: translate(0, 0);
}

#footer {
  margin-right: 280px;
  margin-right: 20%;

  .section__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 5% 80px 5% 40px;

    & > * {
      margin: 2vh 10px;
    }

    .image {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      width: -webkit-fill-available;
      height: -webkit-fill-available;
      max-height: 500px;
      max-width: 500px;

      img {
        position: absolute;
        width: auto;
        max-height: 100%;
        max-width: 100%;
      }
    }

    p {
      max-width: 80%;
      font-size: 26px;
      font-size: clamp(26px, 1vw, 40px);
      text-align: center;
    }
  }

  @media (max-width: map-get($grid-breakpoints, 'xl')) {
    .section__content {
      p {
        font-size: 22px;
      }
    }
  }
  @media (max-width: map-get($grid-breakpoints, 'lg')) {
    margin: 0;
    padding: 0;

    .section__content {
      padding: 100px 80px 5% 40px;
    }
  }
  @media (max-width: map-get($grid-breakpoints, 'sm')),
  (max-device-height: 500px) and (orientation: landscape) {
    .section__content {
      padding: 80px 0 0 0;

      p {
        max-width: 100%;
        font-size: 15px;
      }
    }
  }

  @media (max-device-height: 500px) and (orientation: landscape) {
    flex-direction: unset;

    .section__content {
      padding: 0;
      margin-top: 80px;
      height: calc(100% - 80px);

      .image {
        width: 100%;
        height: 100%;
        width: -webkit-fill-available;
        height: -webkit-fill-available;
        position: relative;

        img {
          position: absolute;
        }
      }
    }
  }
}

.footer {
  position: absolute;
  right: 0;
  transform: translateX(100%);
  color: $light-blue;
  padding: 0 1%;
  height: 100vh;
  width: 20%;
  min-width: 280px;
  background-color: $opacity-light-blue;
  -webkit-transition: .3s ease-out;
  -webkit-transition-delay: 0.46s;
  -o-transition: .3s ease-out;
  -o-transition-delay: 0.46s;
  -moz-transition: .3s ease-out;
  -moz-transition-delay: 0.46s;
  transition: .3s ease-out;
  transition-delay: 0.46s;

  .line {
    align-self: flex-start;
    width: 50%;
    border-right: 1px solid $light-blue;
    height: 100%;
    height: -webkit-fill-available;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  li a svg {
    width: 25px;
    height: 25px;

    path {
      color: $light-blue;
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: fit-content;
    min-height: -webkit-fit-content;

    .item {
      padding: 10px;
    }

    a {
      display: flex;
      align-items: center;
      color: $light-blue;
      font-size: 14px;
      font-size: clamp(14px, 0.75vw, 28px);

      svg.fa-fw {
        width: clamp(25px, 1.5vw, 50px);
        height: auto;
        margin-right: 4px;
        margin-right: clamp(4px, 0.25vw, 10px);
      }

      &:hover {
        color: $blue;

        svg path {
          fill: $blue;
        }
      }
    }

    .number {
      margin-bottom: 2px;
    }
  }

  &__social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: clamp(160px, 45%, 320px);
    min-height: fit-content;
    min-height: -webkit-fit-content;

    li {
      padding: 10px;
      line-height: 100%;

      a svg {
        height: clamp(75%, 25px, 100%);
      }

      a:hover {
        color: $blue;

        svg path {
          fill: $blue;
        }
      }
    }
  }

  &__maidby {
    padding: 10px 0;
    width: clamp(117px, 40%, 300px);
    min-height: fit-content;
    min-height: -webkit-fit-content;

    a {
      display: block;

      svg {
        width: 100%;
        height: auto;

        rect {
          stroke: $light-blue;
        }

        path {
          fill: $light-blue;
        }
      }
    }

    &:hover a svg {
      rect {
        stroke: $blue;
      }

      path {
        fill: $blue;
      }
    }
  }

  &__copyright {
    position: relative;
    font-size: 10px;
    font-size: clamp(10px, 0.55vw, 22px);
    line-height: 150%;
    padding: 10px 0 10px 20px;
    padding: 10px 0 10px clamp(20px, 1vw, 35px);
    min-height: fit-content;
    min-height: -webkit-fit-content;

    &:before {
      content: "";
      position: absolute;
      display: block;
      background-size: cover;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 15px;
      width: clamp(15px, 0.75vw, 30px);
      height: 15px;
      height: clamp(15px, 0.75vw, 30px);
      background-image: url("../images/pacman.svg");
    }
  }

  @media (max-width: map-get($grid-breakpoints, 'lg')) {
    position: unset;
    width: 100%;
    height: unset;
    padding: 30px 50px;
    transform: translateY(100%);

    &__content {
      flex-direction: unset;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    &__contact {
      width: 50%;

      .item {
        padding: 10px 0;
      }
    }

    &__maidby {
      display: flex;
      justify-content: flex-end;
      order: 1;
      width: 160px;
      padding: 0;
      padding-top: 10px;

      a {
        padding-right: 10px;
      }
    }

    &__social {
      justify-content: flex-end;
      width: 160px;
    }

    &__copyright {
      width: 50%;
      padding: 0 0 0 20px;
      height: fit-content;
      align-self: flex-end;
    }

    .line {
      display: none;
    }
  }

  @media (max-width: map-get($grid-breakpoints, 'md')) {
    &__contact {
      flex-direction: column;
      margin-bottom: 0;

      .item {
        padding: 0;

        &:not(:last-child) {
          margin-bottom: 15px;
        }

        a svg.fa-fw {
          width: 18px;
        }

        &.customSVG a svg {
          margin-right: 5px;
          margin-left: 2px;
        }
      }

      .number {
        height: 14px;
      }
    }

    &__social {
      justify-content: space-between;
      width: 133px;

      li {
        padding: 8px;
      }
    }

    &__maidby {
      width: 133px;
    }

    &__bottom {
      flex-direction: column;
      align-items: flex-start;

      .footer__logo {
        order: -1;
        margin-bottom: 20px;
      }
    }

    &__copyright {
      margin-top: 15px;

      &:before {
        width: 16px;
        height: 16px;
      }
    }
  }

  @media (max-width: map-get($grid-breakpoints, 'sm')),
  (max-device-height: 500px) and (orientation: landscape) {
    padding: 10px 16px;
    height: 30%;
    min-height: 150px;

    &__content {
      justify-content: space-between;
    }

    &__contact {
      width: auto;
      min-width: 50%;
      margin-bottom: 10px;

      .item {
        &:not(:last-child) {
          margin-bottom: 10px;
        }

        a {
          font-size: 12px;
        }
      }
    }

    &__social {
      justify-content: space-between;
      width: 89px;
      height: 92px;
      margin: -8px 0 0 0;

      li {
        padding: 4px;

        a svg {
          width: 18px !important;
          height: 18px !important;
        }
      }
    }

    &__maidby {
      display: none;
      width: auto;

      a {
        padding: 0;
      }
    }

    &__copyright {
      width: auto;
      font-size: 10px;
      margin-top: 10px;
      padding: 0 0 0 20px;

      &:before {
        width: 16px;
        height: 16px;
      }
    }
  }

  @media (max-device-height: 500px) and (orientation: landscape) {
    transform: translateX(100%);
    height: calc(100% - 80px);
    margin-top: 80px;
    min-width: 250px;
    width: 40%;

    &__content {
      justify-content: center;
    }

    &__contact {
      .item {
        padding: 0;
      }
    }
  }
}
